/*Universal*/
:root {
    --space: rgb(75, 75, 129);
    --plum: rgba(232, 102, 236, 0.3);
    --grape: rgba(232, 102, 236, 0.6);
    --mauve: rgb(175, 139, 175);

}

::selection {
    background-color: aqua;
    color: var(--space);
}

* {
    margin: 0;
    padding: 0;
}

/*Elementals*/

body {
    background-color: pink;
    font-family: 'optima', sans-serif
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 96%;
    margin: 0 auto;
    position: relative;
    border: 4px solid white;
    border-radius: 5px;
    background-image: linear-gradient(var(--grape) 0%, var(--plum) 100%)
}

header img {
    height: 200px;
    border-radius: 100%;
    width: 200px;
    margin-top: 5px;
    margin: 15px auto;
    background-color: aliceblue;

}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    padding: 15px;
    line-height: 5rem;
}

nav {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    line-height: 50px;
    margin-right: 20px;

}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

main {}

section {
    margin: 5em 50px;
    padding: 50px;
    height: 300px;
    background-color: rgb(175, 139, 175);
    color: white;
}

h2 {}

/*/Media Queries*/

@media screen and (min-width:768px) {
    flex: 0 0 50%;
    max-width: 50%;
    flex-grow: 1;
}


@media screen and (min-width: 992px) {
    flex: 0 0 30.333%;
    max-width: 30.333%;

}