:root {
    --space: rgb(75, 75, 129);

}
* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: aqua;
    counter-reset: ;
}

body {
    background-color: pink;
    font-family: 'optima', sans-serif
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 96%;
    margin: 0 auto;
    background-color: aqua
}

header img {
    height: 200px;
    border-radius: 100%;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 5%;
    translate: -50%;
    background-color: aliceblue;

}

h1 {
    text-align: center;
    font-weight: 900;
    font-size:xx-large;
    padding:15px;
    line-height: 5rem;
    border: 4px solid white;
    border-radius: 5px;
    background-color: var(--space);
}

nav {
text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    line-height: 50px;
    margin-right: 20px;
    
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

section {
    margin: 5em 50px;
    padding: 50px;
    height: 300px;
    background-color: rgb(175, 139, 175);
    color: white;
}